<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="login.css" />
    <title>Loginadmin</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <style></style>

    <head> </head>

    <body>
        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-black w3-card">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="Videos">Videos <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/chest" class="w3-bar-item w3-button">Chest workouts</a>
                        <a href="/shoulder" class="w3-bar-item w3-button">Shoulder workouts</a>
                        <a href="/arm" class="w3-bar-item w3-button">Arm workouts</a>
                        <a href="/back" class="w3-bar-item w3-button">Back workouts</a>
                        <a href="/abs" class="w3-bar-item w3-button">Abs workouts</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="Healthy Living">Healthy Living <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/cookingtips" class="w3-bar-item w3-button">Cooking tips</a>
                        <a href="/nutritionfacts" class="w3-bar-item w3-button">Nutrition facts</a>
                        <a href="/mealplans" class="w3-bar-item w3-button">Meal plans</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="Community">Community <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/community" class="w3-bar-item w3-button">Community</a>
                        <a href="/write-posts" class="w3-bar-item w3-button">Write blogs</a>
                        <a href="/myblogs" class="w3-bar-item w3-button">My blogs</a>
                    </div>
                </div>

                <a href="/store" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Store</a>
                <a href="/logincus" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
                
            </div>
        </div>
        <br />
        <br />
        <div class="w3-content" style="max-width: 100%; background-color: rgb(7, 7, 7);">
            <!-- About Section -->
            <div class="w3-row w3-padding-64" id="about">
                <div class="w3-col m6 w3-padding-large w3-hide-small" style=" width: 400px; margin-left: 135px;">
                    <img src="https://i.pinimg.com/236x/45/5b/67/455b67e0040ae06332f5e445bf3b5ffd.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style="width: 350px; margin-left: 10px; height: 450px;" />
                </div>

                <div class="w3-col m6 w3-padding-large" style=" width: 800px">
                    <div class="container" style="height: 450px">
                        <form action="/loginadmin" method="post">
                            <div class="row">
                                <h1 style="text-align: center;">Login as Admin</h1>
                                <p style="text-align: center"><i>~ To experience more ~</i></p>
                                <br />
                                <br />
                                <div class="vl"></div>

                                <div class="col" style="width: 40%; margin-left: 15px;">
                                    <a class="button" onclick="window.location.href='/loginadmin'" style="vertical-align: middle;"><span>Admin </span></a>
                                    <a class="button" onclick="window.location.href='/logincus'" style="vertical-align: middle;"><span> Customers </span></a>
                                    <p class="text-center">Don't have an account? <a href="/register" style="text-decoration: none; color:#4ea54e">Sign up</a></p>
                                </div>

                                <div class="col" style="width: 55%; margin-left: 15px;">
                                    <p style="color: #f00;">{{ errorMessage }}</p>
                                    <input type="email" name="email" placeholder="Email" autocomplete="off" required />
                                    <br /><br />
                                    <input id="myInput" type="password" name="password" placeholder="Password"  required />
                                    <p id="text">WARNING! Caps lock is ON.</p>
                                    <br /><br />
                                    <input type="submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- card.// -->
                </div>
            </div>
        </div>
        <script>
var input = document.getElementById("myInput");
var text = document.getElementById("text");
input.addEventListener("keyup", function(event) {

if (event.getModifierState("CapsLock")) {
    text.style.display = "block";
  } else {
    text.style.display = "none"
  }
});
</script>
    </body>
</html>
