<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" />
        <link rel="stylesheet" href="register.css" />

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    </head>
    <body>
        <div class="w3-content" style="max-width: 100%; background-color: black;">
            <!-- About Section -->
            <div class="w3-row w3-padding-64" id="about">
                <div class="w3-col m6 w3-padding-large w3-hide-small">
                    <img src="https://i.pinimg.com/236x/9b/c3/de/9bc3de9bbbc0c883b61197c26978c63d.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style="width: 450px; margin-left: 135px; height: 550px;" />
                </div>

                <div class="w3-col m6 w3-padding-large">
                    <div class="card-bg-light" style="background-color: black;">
                        <article style="max-width: 400px; margin-left: 50px;">
                            <h1 class="card-title mt-3 text-center">Create Account</h1>
                            <p class="text-center"><i> ~ Get started with your free account ~ </i></p>
                            <br />
                            <p>
                                <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i> Login via Twitter</a>
                                <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> Login via facebook</a>
                            </p>
                            <p class="divider-text">
                                <span class="bg-light" style="color: black;">OR</span>
                            </p>
                            <form action="/do-register" method="post">
                            <p style="color: #f00;">{{ errorMessage }}</p>
                                <div class="form-group input-group">   
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    <textarea name="username" class="form-control" placeholder="Username" type="text" rows="1" minlength="8" maxlength="30" required /></textarea>
                                </div>
                                <!-- form-group// -->
                                <p style="color: #f00;">{{ errorMessage1 }}</p>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                    </div>
                                    <textarea name="email" class="form-control" placeholder="Email address" type="email" minlength="8" rows="1" required /></textarea>
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                    </div>
                                    <textarea name="image" class="form-control" placeholder="Your image link" type="text" rows="1"  required /></textarea>
                                </div>
                            

                                <!-- form-group end.// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input style="border-radius: 4px; " class="form-control" type="password" id="psw" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter password" required />
                                    <div id="message" style="border-radius: 5px; ">
                                        <h5>Password must contain:</h5>
                                        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                        <p id="number" class="invalid">A <b>number</b></p>
                                        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                                    </div>
                                </div>
                                <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    <input class="form-control" id="confirm_password" name="confirm_password" placeholder="Repeat password" type="password" required />
                                </div>
                                <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" style="background-color: rgb(72, 202, 72);">Create Account</button>
                                </div>
                                <!-- form-group// -->
                                <p class="text-center">Have an account? <a href="/logincus" style="text-decoration: none; color: rgb(72, 202, 72);">Log In</a></p>
                            </form>
                        </article>
                    </div>
                    <!-- card.// -->
                </div>
            </div>
        </div>
        <script>
            var myInput = document.getElementById("psw");
            var letter = document.getElementById("letter");
            var capital = document.getElementById("capital");
            var number = document.getElementById("number");
            var length = document.getElementById("length");

            // When the user clicks on the password field, show the message box
            myInput.onfocus = function () {
                document.getElementById("message").style.display = "block";
            };

            // When the user clicks outside of the password field, hide the message box
            myInput.onblur = function () {
                document.getElementById("message").style.display = "none";
            };

            // When the user starts to type something inside the password field
            myInput.onkeyup = function () {
                // Validate lowercase letters
                var lowerCaseLetters = /[a-z]/g;
                if (myInput.value.match(lowerCaseLetters)) {
                    letter.classList.remove("invalid");
                    letter.classList.add("valid");
                } else {
                    letter.classList.remove("valid");
                    letter.classList.add("invalid");
                }

                // Validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if (myInput.value.match(upperCaseLetters)) {
                    capital.classList.remove("invalid");
                    capital.classList.add("valid");
                } else {
                    capital.classList.remove("valid");
                    capital.classList.add("invalid");
                }

                // Validate numbers
                var numbers = /[0-9]/g;
                if (myInput.value.match(numbers)) {
                    number.classList.remove("invalid");
                    number.classList.add("valid");
                } else {
                    number.classList.remove("valid");
                    number.classList.add("invalid");
                }

                // Validate length
                if (myInput.value.length >= 8) {
                    length.classList.remove("invalid");
                    length.classList.add("valid");
                } else {
                    length.classList.remove("valid");
                    length.classList.add("invalid");
                }
            };
            // Check password
            var password = document.getElementById("psw")
            , confirm_password = document.getElementById("confirm_password");

            function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Password doesn't match!");
            } else {
                confirm_password.setCustomValidity("");
            }
            }
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;

            
        </script>
    </body>
</html>
