<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Reset password</title>
      <link rel="stylesheet" href="/reset-password.css">
   </head>
   <body>
      <div class="page">
         <div class="container">
            <div class="left">
               <div class="login">Reset Password</div>
               <div class="eula">Enter your email address and we'll send you a link to reset your password.</div>
               <p style="color: red; font-size: 12px;margin: 30px;">{{message}}</p>  
            </div>
            <div class="right" >
               
               <div class="form" >
                  <form action="/do-reset-password" method="POST">
                        <label for="email"  >Email</label>
                        <input type="email" autocomplete="off" id="email" name="email" style="padding-left: 15px;border: 2px solid white; border-radius: 4px; width: 230px;"  required>
                        <br><br>
                        <input type="submit" id="submit" value="Reset Password" style="font-size: 20px; margin-left: 0px;">
                  </form> 
                  <br><br><br><br>
                  <a  href="/logincus" style="text-decoration: none; opacity: 60%; color: white; margin-left: 60px;">Login</a> 
                  or
                  <a  href="/register" style="text-decoration: none; opacity: 60%; color: white; text-align: center;">Register</a>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>