<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Set new password</title>
        <link rel="stylesheet" href="/reset-password.css" />
    </head>
    <body>
        <div class="page">
            <div class="container">
                <div class="left">
                    <div class="login">New Password</div>
                    <div class="eula">Reset your password and hopefully you will not forget.</div>
                </div>
                <div class="right">
                    <div class="form">
                        <form action="/do-set-password" method="POST">
                            <label for="password">New Password</label>
                            <input type="password" autocomplete="off" id="password" name="password" style="padding-left: 15px; border: 2px solid white; border-radius: 4px; width: 215px;" minlength="8" required />
                            <br />
                            <br />
                            <label for="con_password">Confirm New Password</label>
                            <input type="password" autocomplete="off" id="con_password" name="con_password" style="padding-left: 15px; border: 2px solid white; border-radius: 4px; width: 215px;" minlength="8" required />
                            <br />
                            <br />
                            <input type="submit" id="submit" value="Set Password" style="font-size: 20px; margin-left: 0px;" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // Check password
            var password = document.getElementById("password"),
                confirm_password = document.getElementById("con_password");

            function validatePassword() {
                if (password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Password doesn't match!");
                } else {
                    confirm_password.setCustomValidity("");
                }
            }
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>
    </body>
</html>
