
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Update Plans</title>
        <!-- Navbar -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="/writeblogs.css" />
    </head>
    <body>


        <!-- Update products -->
        <div class="w3-black" id="tour">
            <div class="w3-content" style="max-width: 1100px;">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">
                        <img src="https://i.pinimg.com/236x/49/8b/9e/498b9e261a9a8ad558a1ce21d8895b81.jpg" class="w3-round w3-image w3-opacity-min" alt="Cooking Image" width="400" height="550" />
                    </div>

                    <div class="w3-col m6 w3-padding-large">
                        <h1 class="w3-center">Update plans</h1>
                        <p class="w3-center" style="font-size: 17px; color: rgb(103, 189, 103);"><i> ~ Innovative ~ </i></p>
                        <br />
                        <br />
                        <div>
                            <form action="/do-update-plans" method="POST">
                                <input type="hidden" name="id" value="{{model._id}}">
                                <input type="text" name="title" value="{{ model.title }}" placeholder="Title.." />
                                <input type="text" name="name" value="{{ model.name }}" placeholder="Name.." />
                                <input type="text" name="content" value="{{ model.content }}" placeholder="Content.." />
                                <input type="submit" value="Update" />
                            </form>
                        </div>
                        <br />
                        <p><i>Thank you for your contribution</i></p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
