<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Write Blogs</title>
        <!-- Navbar -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <link rel="stylesheet" href="/writeblogs.css" />
    </head>
    <body>
        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-black w3-card">
                <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
                <a href="/" class="w3-bar-item w3-button w3-padding-large">Home</a>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="Videos">Videos <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/chest" class="w3-bar-item w3-button">Chest workouts</a>
                        <a href="/shoulder" class="w3-bar-item w3-button">Shoulder workouts</a>
                        <a href="/arm" class="w3-bar-item w3-button">Arm workouts</a>
                        <a href="/back" class="w3-bar-item w3-button">Back workouts</a>
                        <a href="/abs" class="w3-bar-item w3-button">Abs workouts</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="Healthy Living">Healthy Living <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/cookingtips" class="w3-bar-item w3-button">Cooking tips</a>
                        <a href="/nutritionfacts" class="w3-bar-item w3-button">Nutrition facts</a>
                        <a href="/mealplans" class="w3-bar-item w3-button">Meal plans</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-padding-large w3-button" title="Community">Community <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="/community" class="w3-bar-item w3-button">Community</a>
                        <a href="/write-posts" class="w3-bar-item w3-button">Write blogs</a>
                        <a href="/myblogs" class="w3-bar-item w3-button">My blogs</a>
                    </div>
                </div>

                <a href="/store" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Store</a>
                <a href="/logincus" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
                
            </div>
        </div>
        <br />
        <br />

        <!-- Adding new post -->
        <div class="w3-black" id="tour">
            <div class="w3-content" style="max-width: 1100px;">
                <!-- About Section -->
                <div class="w3-row w3-padding-64" id="about">
                    <div class="w3-col m6 w3-padding-large w3-hide-small">
                        <img src="https://i.pinimg.com/236x/04/4a/1d/044a1db6f3c4d57fbb0b9296cb346052.jpg" class="w3-round w3-image w3-opacity-min" alt="Cooking Image" width="600" height="750" />
                    </div>

                    <div class="w3-col m6 w3-padding-large">
                        <h1 class="w3-center">Share your story</h1>
                        <p class="w3-center" style="font-size: 17px; color: rgb(103, 189, 103);"><i> ~ Think Different ~ </i></p>
                        <br />
                        <br />
                        <div>
                            <form action="/do-adding-posts" method = "POST">
                                <textarea type="text" name="name" placeholder="Name for the post.." rows="1" required/></textarea>
                                <textarea type="text" name="content" placeholder="Your content.." rows="5" cols="65" required></textarea>
                                <br />
                                <textarea type="text" name="image" placeholder="Link for your image.." rows="1" required/></textarea>
                                <input type="submit" value="Submit" />
                            </form>
                        </div>
                        <br />
                        <p style="text-align: center;"><i>Thank you for your contribution</i></p>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
